[submodule "pub-sub"]
	path = pub-sub
	url = https://github.com/beaualbritton/pub-sub.git
[submodule "pub-sub-test"]
	path = pub-sub-test
	url = https://github.com/beaualbritton/pub-sub-test
[submodule "pub-sub-cpp"]
	path = pub-sub-cpp
	url = https://github.com/beaualbritton/pub-sub-cpp
[submodule "pub-sub-cpp-test"]
	path = pub-sub-cpp-test
	url = https://github.com/beaualbritton/pub-sub-cpp-test.git
